:root {
    --primary-color: #3cc89e;
    --chathams_blue: #3cc89e;
    --tamarillo: #991E14;
    --yellow_sea: #FEAD06;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.input-container {
    position: relative;
  }
  
  .input {
    padding: 10px;
    height: 40px;
    border: 2px solid #0B2447;
    border-top: none;
    border-bottom: none;
    font-size: 16px;
    background: transparent;
    outline: none;
    box-shadow: 7px 7px 0px 0px #0B2447;
    transition: all 0.5s;
  }
  
  .input:focus {
    box-shadow: none;
    transition: all 0.5s;
  }
  
  .label {
    position: absolute;
    top: 10px;
    left: 10px;
    color:var(--primary-color);
    transition: all 0.5s;
    transform: scale(0);
    z-index: -1;
  }
  
  .input-container .topline {
    position: absolute;
    content: "";
    background-color:var(--primary-color);
    width: 0%;
    height: 2px;
    right: 0;
    top: 0;
    transition: all 0.5s;
  }
  
  .input-container input[type="text"]:focus ~ .topline {
    width: 35%;
    transition: all 0.5s;
  }
  
  .input-container .underline {
    position: absolute;
    content: "";
    background-color: #1d6ad5;
    width: 0%;
    height: 2px;
    right: 0;
    bottom: 0;
    transition: all 0.5s;
  }
  
  .input-container input[type="text"]:focus ~ .underline {
    width: 100%;
    transition: all 0.5s;
  }
  
  .input-container input[type="text"]:focus ~ .label {
    top: -10px;
    transform: scale(1);
    transition: all 0.5s;
  }

h1 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 20px;
}

.git{
    text-align: center;
    color: var(--primary-color);
}

.git button{
    background-color: var(--primary-color);
}
p {
    text-align: center;
}

.btn {
    width: 130px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #171717;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all .4s;
   }
   
   .btn:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
     0 15px 0 -4px #39a2db,
     0 16px 10px -3px #39a2db;
   }
   
   .btn:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #f85959,
     0 8px 0 -4px #39a2db,
     0 12px 10px -3px #39a2db;
   }


.swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    color: var(--primary-color);
    font-size: 14px;
    padding: 0 10px;
}

select:focus,
input:focus,
button:focus {
    outline: 0;
}

@media (max-width: 600px) {
    .currency input {
        width: 200px;
    }
}


/* NAVBAR STYLING STARTS */

.nav-links a {
    color: #fff;
}

/* Header Styles
  -------------------------------------------------- */

header .bg-gradient {
    background: rgb(216, 216, 216);
}

body {
    background: url("../img/BG.png");
    background-size: cover;
}

header .navbar {
    padding: 20px 0 0;
}

header .navbar-brand {
    padding: 0;
    z-index: 1;
    width: 213px;
    height: 109px;
    background-color: var(--primary-color);
}

header .navbar-brand img {
    width: 56px;
}

img {
    max-width: 100%;
}

header h3 {
    font: normal normal 600 18px/27px Oswald;
    color: #fff;
}

header h4 {
    font: normal normal 600 18px/28px Oswald;
    letter-spacing: 0.36px;
    color: #191919;
    text-transform: uppercase;
}

header p {
    font: 600 12px/15px Poppins;
    letter-spacing: 0.24px;
    color: #191919;
}

.ReactTitle {
    background-color: #838383;
    height: 50px;
    font: normal normal 600 19px/27px Oswald;
    letter-spacing: 0.38px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.ReactTitle img {
    width: 25px;
    margin-right: 10px;
}


.link {
    background-color: rgba(0, 0, 0, 0.09);
    font: normal normal medium 12px/15px Poppins;
    letter-spacing: 0.24px;
    height: 40px;
    padding: 10px 10px;

}

.link a {
    color: #055BA6;

}

/* Sticky footer styles
  -------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
  -------------------------------------------------- */
/* Not required for template or sticky footer method. */

body>.container {
    padding: 60px 15px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.footer-dark {
    background-color: var(--primary-color);
    color: #fff;
}

.toggle-currency {
    font-size: 20px;
}

footer {
    font: normal normal 600 12px/19px Oswald;
    letter-spacing: 0.24px;
    color: #FFFFFF;
}

.theme-switch {
    margin: 0 5px;
    padding: 10px;
    font-size: 0.5rem;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.theme-switch-chathams_blue {
    background-color: var(--chathams_blue);
}

.theme-switch-chathams_blue:hover {
  box-shadow: 2px 2px 2px var(--chathams_blue);
}

.theme-switch-tamarillo {
    background-color: var(--tamarillo);
}

.theme-switch-tamarillo:hover {
  box-shadow: 2px 2px 2px var(--tamarillo);
}

.theme-switch-yellow_sea {
    background-color: var(--yellow_sea);
}

.theme-switch-yellow_sea:hover {
  box-shadow: 2px 2px 2px var(--yellow_sea);
}
